/*
 * All of the sections are ordered by how abstract they are (high -> low),
 * the contents of each section is ordered based on the order the elements
 * occur in the index html document. The contents of each block is ordered in
 * lexigraphical order.
 */
/* General Element Styling */
:root {
  --language-icon-height: 50px;
  --language-icon-width: 50px;
  --scale-height: 10px;
  --scale-width: 500px;
}

/* Element Class Styling */
.display-area {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.ability-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.ability {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.ability>* {
  margin: 5px;
}

.ability-icon {
  height: var(--language-icon-height);
  width: var(--language-icon-height);
}

.scale {
  background: var(--primary);
  border-radius: 500px;
  height: var(--scale-height);
  width: var(--scale-width);
}

.scale-value {
  background: var(--accent1);
  border-radius: 500px;
  height: var(--scale-height);
}

.project-container {
  background: var(--primary);
  display: flex;
  height: min-content;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project {
  align-items: center;
  background: var(--secondary);
  border: solid var(--accent3) 1px;
  display: flex;
  height: 200px;
  justify-content: center;
  margin: 2.5%;
  min-height: fit-content;
  width: calc(100% / 3 - 5%);
}

.project:hover {
  filter: brightness(120%);
}

.project-btn {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-around;
  padding: 2.5%;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

/* Element ID Styling */
#nav-button-2 {
  filter: brightness(110%);
}

#abilities {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./../images/about-me/Abilities-Background.webp") center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--nav-bar-height));
  padding: 2.5% 0;
  width: 100%;
}

#abilities>* {
  margin: 2.5%;
}

#abilities>h1 {
  display: block;
  padding-top: 2.5%;
  width: 100%;
}

#c-scale {
  width: 90%;
}

#html-scale {
  width: 90%;
}

#css-scale {
  width: 75%;
}

#js-scale {
  width: 30%;
}

#java-scale {
  width: 80%;
}

#react-scale {
  width: 10%;
}

#linux-scale {
  width: 80%;
}

#java-scale {
  width: 90%;
}

#maven-scale {
  width: 60%;
}

#git-scale {
  width: 80%;
}

#sql-scale {
  width: 75%;
}

#github-projects>h1 {
  margin: 2.5% 0 0 0;
  width: 100%;
}

/* Mobile Support*/
@media screen and (max-width: 1500px) {

  /* Element Class Styling */
  .project {
    height: 200px;
    width: 45%; /* 50% - the padding */
  }

}

@media screen and (max-width: 1250px) {

  /* General Element Styling */
  :root {
    --scale-width: 75vw;
  }

  /* Element Class Styling */
  .ability-wrapper {
    flex-direction: column;
  }

  .project {
    width: 95%; /* 100% - the padding */
  }

  /* Element ID Styling */
  #github-projects>h1 {
    margin: 5% 0 2.5% 0;
  }

}
