/* General Element Styling */
:root {
  --form-max-width: 600px;
  --form-width: 50vw;
}

body {
  height: 100vh;
  width: 100%;
}

main {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./../images/contact-me/Wallpaper.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
  min-height: 250px;
}

/* Element Class Styling */
.contact-btn {
  width: 200px;
  transition: all .2s ease-in-out;
  display: inline-block;
}

.contact-btn:hover {
  transform: scale(1.1);
}

.contact-img {
  width: 200px;
}

/* Element ID Styling */
#nav-button-3 {
  filter: brightness(110%);
}

/* Mobile Support*/
@media screen and (max-width: 800px) {

  main {
    flex-direction: column;
    min-height: fit-content;
  }

  .contact-img, .contact-btn {
    width: 20vh;
    height: 20vh;
  }

}